$text-color: #ffffff;
$page-color: #071525;
$nf-green: #52d387;
$gradient-start: #38c1e8;
$inner-text-color: #071525;
$inner-back: #ffffff;

$footer-icons: #9fa1a4;
$footer-text: #818589;
$footer-back: #030a12;
$footer-active-item: #1f5f5c;
$main-nav-back: #011021;
$main-nav-selection: #ffffff;
$site-nav-color: #676e70;
$site-nav-selection-back: rgba(82, 211, 135, 0.3);
$main-nav-border: #2f3134;
$language-nav-color: #a3a8a5;
$feedback-bgr-color: #ffffff;
$feedback-text-color: #000000;
$feedback-info-color: #071525;

$inputs-border: #838a92;
$inputs-text: #838a92;

$account-header-text: #a4a5a7;
$account-user-text: #fefefe;

$hd: 1920px;
