$text-color: #ffffff;
$page-color: #071525;
$nf-green: #52d387;
$nf-int: #36d1dc;
$gradient-start: #38c1e8;
$gradient-end-int: #5b86e5;
$inner-text-color: #071525;
$inner-back: #ffffff;

$footer-icons: #9fa1a4;
$footer-text: #818589;
$footer-back: #030a12;
$footer-active-item: #1f5f5c;
$main-nav-back: #011021;
$main-nav-selection: #ffffff;
$site-nav-color: #676e70;
$site-nav-int: #a4a6a9;
$site-nav-int-symbol: #808890;
$site-nav-selection-back: rgba(82, 211, 135, 0.3);
$site-nav-selection-int: #5b86e5;
$main-nav-border: #2f3134;
$main-nav-border-int: #808890;
$language-nav-color: #a3a8a5;
$feedback-bgr-color: #ffffff;
$feedback-text-color: #000000;
$feedback-info-color: #071525;

$inputs-border: #838a92;
$inputs-text: #838a92;

$account-header-text: #a4a5a7;
$account-user-text: #fefefe;
$account-border: #dfdfdf;
$account-shadow: #3ec1de;
$operations-color: #2d3049;
$operations-expense: #ef473a;
$ref-color: #2d3049;

$use-item-border: #e8e9ec;
$error-message: #ef473a;
$download-links: #757575;

$w1550: 1550px;
$hd: 1920px;
$hd-w: 1942px;