$text-color: #ffffff;
$page-color: #071525;
$nf-green: #52d387;

$footer-icons: #9fa1a4;
$footer-text: #818589;
$footer-back: #030a12;
$footer-active-item: #1f5f5c;
$main-nav-back: #011021;
$main-nav-selection: #ffffff;
$site-nav-color: #676e70;
$site-nav-selection-back: rgba(82, 211, 135, 0.3);
$main-nav-border: #2f3134;
$language-nav-color: #a3a8a5;


$hd: 1920px;
