.about {
  display: block;
  width: 100%;
  min-height: 880px;
  background: url('../images/background-top.jpg') left top no-repeat;
  
  &__header {
    min-height: 380px;
    margin-top: 128px;
    
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__main-descr {
    width: 950px;
    margin: 0;
    padding: 0;
    margin-left: 322px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: $text-color;
  
    & p {
      margin: 0;
      padding: 0;
    }
  }
  
  &__details {
    position: relative;
    min-height: 320px;
    margin-top: 123px;
    color: $inner-text-color;
    
    &:before {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      top: 104px;
      left: 0;
      right: 0;
      height: 440px;
      transform: skewY(8deg);
      transform-origin: 100%;
      background-color: $inner-back;
    }
  }
  
  &__details-wrap {
    position: relative;
    z-index: 2;
    min-height: 320px;
    margin-left: 225px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url('../images/hexagons.png');
  }
  
  &__details .section-heading {
    padding-top: 65px;
    padding-left: 438px;
  }
  
  &__details-text {
    width: 634px;
    padding-top: 22px;
    padding-left: 389px;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: $inner-text-color;
  }
  
  &__principles {
    width: 970px;
    margin-top: 136px;
    margin-left: 322px;
    
    & p {
      min-height: 48px;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 98px;
      padding-top: 12px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      background-repeat: no-repeat;
      
      &:nth-child(1) {
        margin-top: 34px;
        background-position: 12px top;
        background-image: url('../images/principle1.png');
      }
      
      &:nth-child(2) {
        background-position: 14px top;
        background-image: url('../images/principle2.png');
      }
      
      &:nth-child(3) {
        padding-top: 2px;
        background-position: 10px top;
        background-image: url('../images/principle3.png');
      }
    }
  }
  
  &__using {
    position: relative;
    min-height: 340px;
    margin-top: 175px;
    color: $inner-text-color;
    
    &:before {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      top: 76px;
      left: 0;
      right: 0;
      height: 497px;
      transform: skewY(8deg);
      transform-origin: 100%;
      background-color: $inner-back;
    }
  }
  
  &__using-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    width: 1100px;
    margin-top: 54px;
    margin-left: 290px;
  }
  
  &__using-text {
    position: relative;
    z-index: 2;
    width: 950px;
    margin: 0;
    padding: 0;
    margin-left: 322px;
    padding-top: 36px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400px;
  }
  
  &__using .section-heading {
    position: relative;
    z-index: 2;
    margin-left: 322px;
  }
  
  &__working {
    margin-top: 158px;
    margin-left: 322px;
  }
  
  &__working-text {
    width: 1010px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400px;
    
    & p {
      margin: 0;
      padding: 0;
      padding-bottom: 28px;
      
      &:first-child {
        padding-top: 42px;
      }
    }
  }
  
  &__training {
    min-height: 520px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url('../images/training.png');
  }
  
  &__training-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__training-item {
    color: $nf-green;
  }
  
  &__conclusion {
    color: $inner-text-color;
    background-color: $inner-back;
  }
  
  &__conclusion-text {
    
    & p {
      margin: 0;
      padding: 0;
    }
  }
  
  & .page-logo {
    float: left;
    margin-top: 15px;
    margin-left: 323px;
    margin-right: 33px;
    margin-bottom: 28px;
  }
}
