.about-main {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  min-height: 1800px;
  background: transparent;
  
  &__intro {
    width: 848px;
    height: 369px;
    margin-left: 420px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: $inner-text-color;
    background-color: $inner-back;
    
    & p {
      width: 780px;
      margin: 0;
      padding: 0;
      padding-top: 28px;
      padding-left: 34px;
      
      &:first-child {
        padding-top: 24px;
      }
      
    }
  }
  
  &__timeline {
    position: relative;
    margin-left: 420px;
    margin-bottom: 130px;
    
    &:before {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      top: -162px;
      left: -28px;
      width: 54px;
      height: 115px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/timeline-top.png);
    }
    
    &:after {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      top: -35px;
      left: -2px;
      width: 2px;
      height: 1120px;
      background-color: $nf-green;
    }
  }
  
  &__lower-wrap {
    display: flex;
  }
  
  &__logo {
    display: block;
    width: 280px;
    height: 196px;
    background: url('../images/logo-main.png') center top no-repeat,
      url('../images/logo-main-text.png') center bottom no-repeat;
    background-size: 105px 117px, auto;
    outline: 1px solid red;
  }
  
  &__logo-text {
    font-size: 0;
  }
  
  &__conclusion {
    width: 840px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
  }
  
  & .section-heading {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 322px;
  }
}
