.advantage {
  display: block;
  color: $text-color;
  
  &__symbol {
    fill: currentColor;
  }
  
  &__heading {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  
  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
  }
}
