.advantage {
  display: block;
  width: 260px;
  color: $text-color;
  background-repeat: no-repeat;
  background-position: center top;
  
  &:nth-child(1) {
    background-image: url(../images/advantage1.png);
  }
  
  &:nth-child(2) {
    background-image: url(../images/advantage2.png);
  }
  
  &:nth-child(3) {
    background-image: url(../images/advantage3.png);
  }
  
  &:nth-child(4) {
    background-image: url(../images/advantage4.png);
  }
  
  &__heading {
    position: relative;
    margin: 0 auto;
    padding-top: 119px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
    &:after {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 2px;
      background-color: $nf-green;
    }
  }
  
  &__text {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
  }
}
