.balance-form {
  &__wrap--currency {
    margin-left: 308px;
    padding-bottom: 37px;
  }

  &__currency-radio {
    display: none;
  }

  &__currency-radio + &__currency {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 139px;
    height: 139px;
    cursor: pointer;
    &--rub {
      background-image: url(../images/currency_rub.png);
    }
    &--usd {
      background-image: url(../images/currency_usd.png);
    }
  }

  &__currency-radio:checked + &__currency {
    background-position: 1px 10px;
    &--rub {
      background-image: url(../images/currency_rub_active.png);
    }
    &--usd {
      background-image: url(../images/currency_usd_active.png);
    }
  }

  &__currency-choice {
    font-size: 24px;
    margin: 0 52px;
  }

  &--green {
    .balance-form__currency-radio:checked + .balance-form__currency {
      background-position: 1px 11px;
      &--rub {
        background-image: url(../images/currency_rub_active_green.png);
      }
      &--usd {
        background-image: url(../images/currency_usd_active_green.png);
      }
    }
  }
}
