.balance {
  padding-top: 68px;
  padding-bottom: 270px;
  width: 1140px;
  margin-left: 20px;

  @media (min-width: $w1550) {
    margin-left: 7.83%;
  }

  @media (min-width: $hd) {
    margin-left: 130px;
  }
}
