.bonus-program {
  position: relative;
  background: url('../images/marketing_bottom_bgr.png') no-repeat 100% 0;
  background-size: cover;
  color: #000;
  padding: 175px 320px 70px 320px;
  margin-top: -110px;

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__info {
    width: 167px;
    margin-right: 228px;
    margin-top: 3px;
    line-height: 22px;
  }

  &__amount {
    width: 165px;
    border-right: 1px solid #cccdd4;
    padding-right: 112px;
    padding-bottom: 10px;
    text-align: right;
    margin-right: 11px;
    &:last-child {
      border-right: none;
      margin-right: 0;
    }
  }

  &__amount-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__amount-heading {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__amount-item {
    font-size: 24px;
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
    &--red {
      color: #ea330f;
    }
  }
}
