.container {
  display: block;
  width: 1756px;
  background: #071525 url('../images/background.png') no-repeat 100% 0;
  padding: 120px 0 50px 322px;
  font-family: $robotocond;
  font-weight: 400;
}
