.deposits {
  &__inner {
    margin-left: 126px;
    margin-bottom: 60px;
    padding-top: 50px;
  }

  &__title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(to bottom, rgba(66,186,223,1), rgba(76,154,219,1));
    border-radius: 5px 5px 0 0;
    padding: 15px 20px 17px;
    padding-right: 0;
  }

  &__inner-wrap {
    width: 742px;
    background-color: #fff;
    padding-left: 18px;
    padding-right: 20px;
    border-radius: 5px;
    position: relative;
    top: -2px;
  }
}
