.deposits {
  background: url('../images/background-account.jpg') no-repeat left top;
  &__inner {
    margin-left: 126px;
    margin-bottom: 60px;
    padding-top: 50px;
  }

  &__inner-wrap {
    width: 742px;
    background-color: #fff;
    padding-left: 18px;
    padding-right: 20px;
    border-radius: 5px;
    position: relative;
    top: -2px;
  }
}
