.footer {
  display: flex;
  width: 100%;
  min-height: 200px;
  margin: 0;
  padding: 0;
  font-family: $proximanova;
  color: $footer-text;
  background-color: $footer-back;
  
  &_int {
    // - width: 100%;
    min-height: 150px;
  }
  
  &__logo {
    width: 89px;
    height: 100px;
    margin-left: 225px;
    margin-top: 50px;
    margin-right: 68px;
    fill: $footer-icons;
    
    @media (min-width: $w1550) {
      margin-left: 22.24%;
    }
    
    @media (min-width: $hd) {
      margin-left: 427px;
    }
  }
  
  &_int &__logo {
    margin-left: 57px;
    margin-top: 30px;
    
    @media (min-width: $w1550) {
      margin-left: 10.06%;
    }
    
    @media (min-width: $hd) {
      margin-left: 167px;
    }
  }
  
  &_int .footer-links {
    margin-top: 30px;
  }
  
  &_int .contacts {
    margin-top: 30px;
  }
  
  &_int .social-links {
    margin-top: 32px;
  }
}
