.index {
  display: block;
  width: 100%;
  min-height: 880px;
  background: url('../images/background-top.jpg') left top no-repeat,
    url('../images/background-main-page.jpg') left 994px no-repeat;
  
  &__header {
    width: 1140px;
    min-height: 530px;
    margin-top: 82px;
    margin-left: 60px;
    
    @media (min-width: $w1550) {
      margin-left: 12.93%;
    }

    @media (min-width: $hd) {
      margin-left: 227px;
    }
}
  
  &__main-descr {
    width: 652px;
    height: 42px;
    margin: 0;
    padding: 0;
    margin-left: 242px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: $text-color;
    overflow: hidden;
  }
  
  &__reg-button {
    position: relative;
    display: block;
    width: 225px;
    height: 40px;
    margin-left: 456px;
    margin-top: 60px;
    padding-top: 10px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: $text-color;
    background-image: linear-gradient(135deg, $gradient-start, $nf-green);
    box-shadow: 0 0 10px 0 $nf-green;
    
    &:before {
      position: absolute;
      display: block;
      content: '';
      z-index: 1;
      top: -31px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 652px;
      background-image: linear-gradient(to right, transparent 0, $nf-green 50%, transparent 100%);
    }
    
    &:hover {
      color: $nf-green;
      background: $page-color;
    }
  }
  
  &__about-wrap {
    position: relative;
    min-height: 1800px;
    margin-bottom: 130px;
    
    &:before {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      top: -103px;
      left: 0;
      right: 0;
      height: 1794px;
      transform: skewY(8deg);
      transform-origin: 0;
      background-image: linear-gradient(135deg, $gradient-start, $nf-green);
      opacity: 0.4;
    }
  }
  
  &__advantages {
    position: relative;
    width: 100%;
    min-height: 631px;
    margin-bottom: 56px;
    background: url('../images/background-advantages.jpg') left top no-repeat;
    
    &:before {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      top: -43px;
      left: 0;
      right: 0;
      height: 516px;
      transform: skewY(8deg);
      transform-origin: 0;
      background-image: linear-gradient(135deg, $gradient-start, $nf-green);
      opacity: 0.4;
    }
    
    & .section-heading {
      position: relative;
      z-index: 2;
      padding-top: 115px;
      margin-left: 411px;
      margin-bottom: 35px;
    }
  }
  
  &__advantages-main-wrap {
    width: 1140px;
    margin-left: 60px;
    
    @media (min-width: $w1550) {
      margin-left: 12.93%;
    }

    @media (min-width: $hd) {
      margin-left: 227px;
    }
  }
  
  &__advantages-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 1136px;
  }
  
  & .main-logo {
    margin: 0;
    margin-left: 427px;
    margin-bottom: 2px;
  }
}
