.main-nav {
  width: 165px;
  flex-basis: 165px;
  flex-shrink: 0;
  font-family: $segoeui;
  color: $site-nav-color;
  background-color: $main-nav-back;
  
  &_int {
    width: 260px;
    flex-basis: 260px;
  }
  
  &__wrap {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 165px;
    height: 100vh;
    
    &_int {
      width: 260px;
    }
  }
}
