.main-nav {
  width: 165px;
  flex-basis: 165px;
  flex-shrink: 0;
  font-family: $segoeui;
  color: $site-nav-color;
  background-color: $main-nav-back;
  
  &_int {
    width: 260px;
    flex-basis: 260px;
  }
}
