.page-logo {
  display: block;
  width: 356px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/logo-page.png);
  
  &__text {
    font-size: 0;
  }
    
  &_int {
    width: 220px;
    height: 140px;
    margin: 0 auto;
    background-size: 199px 85px;
    background-image: url(../images/logo-page-int.png);
    border-bottom: 1px solid $main-nav-border-int;
  }
}

