.ref {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1140px;
  height: 700px;
  padding-top: 50px;
  margin-left: 20px;
  
  @media (min-width: $w1550) {
    margin-left: 7.83%;
  }
  
  @media (min-width: $hd) {
    margin-left: 130px;
  }
  
  &__section {
    position: relative;
    width: 100%;
    
    &_system {
      height: 160px;
    }
    
    &_level {
      height: 180px;
    }
    
    &_users {
      height: 320px;
    }
  }
  
  &__content-wrap {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 50px;
    border-radius: 5px;
    color: $ref-color;
    background-color: $inner-back;
  }
  
  &__section_level &__content-wrap {
    height: calc(100% - 40px);
    margin-top: 40px;
  }
  
  &__section_level .account-heading {
    height: 33px;
    padding-top: 13px;
  }
  
  &__btn {
    display: block;
    width: 200px;
    padding: 0;
    margin: 0;
    font-family: $robotocond;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: $text-color;
    border: 1px solid transparent;
    border-radius: 15px;
    outline: none;
    background-image: linear-gradient(to right, $nf-int, $gradient-end-int);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 202px 32px;
    box-shadow: 0 6px 8px -4px $account-shadow;
    cursor: pointer;
    
    &:hover {
      color: $nf-int;
      border-color: $nf-int;
      background: none;
    }
  }
  
  &__level-heading {
    padding-top: 23px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
  }
  
  &__level-fund {
    padding-top: 20px;
    margin-left: 64px;
    font-size: 18px;
    font-weight: 400;
  }
  
  &__level-bonus {
    padding-top: 20px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 400;
  }
  
  &__system-wrap {
    display: flex;
    align-items: flex-end;
    width: 1100px;
    min-height: 30px;
    margin: 0 auto 20px;
    padding-top: 24px;
  }
  
  &__system-text {
    margin-right: 54px;
    padding-bottom: 1px;
    font-size: 18px;
    font-weight: 400;
  }
  
  &__test-link {
    margin-right: 164px;
    padding-bottom: 1px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: $nf-int;
    border-bottom: 1px solid $nf-int;
  }
  
  &__ref-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 730px;
    min-height: 30px;
  }
  
  &__link-descr {
    padding-bottom: 1px;
    font-size: 18px;
    font-weight: 400;
  }
  
  &__ref-link {
    margin-left: 26px;
    margin-right: 8px;
    padding-bottom: 1px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: $nf-int;
    border-bottom: 1px solid $nf-int;
  }
  
  &__levels {
    display: flex;
    justify-content: space-between;
    width: 430px;
    margin-left: 20px;
  }
  
  &__level {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: $nf-int;
    border-bottom: 1px solid $nf-int;
  }
  
  & .account-pagination {
    margin-top: 28px;
    margin-left: 26px;
  }

}
