.site-nav {
  display: block;
  width: 100%;
  height: 429px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $segoeui;
  
  &_int {
    margin-top: 29px;
  }

  &__item {
    position: relative;
    display: block;
    margin: 20px 0;
    height: 30px;
    padding-left: 19px;
    
    &_active {
      background-image: linear-gradient(to left, $site-nav-selection-back, transparent);
    }
    
    &_home {
      margin-top: 42px;
      margin-bottom: 22px;
      height: 60px;
    }
    
    &_active:after {
      position: absolute;
      display: block;
      content: '';
      z-index: 1;
      top: 0;
      right: 0;
      height: 100%;
      width: 2px;
      background-color: $nf-green;
    }
  }
  
  &_int &__item {
    padding-left: 22px;
  }
  
  &_int &__item_operations {
    padding-left: 25px;
  }
  
  &_int &__item_active {
    background-image: linear-gradient(to left, $site-nav-selection-int, transparent);
  }

  &_int &__item_active:after {
    background-color: $nf-int;
  }

  
  &__link {
    display: block;
    height: 30px;
    padding-top: 3px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    color: $site-nav-color;
    
    &:hover {
      color: $nf-green;
    }
  }
  
  &_int &__link {
    color: $site-nav-int;
  }
  
  &_int &__link:hover {
    color: $nf-int;
  }
  
  &__item_home &__link {
    font-size: 0;
    line-height: 0;
  }
  
  &__item_active &__link,
  &_int &__item_active &__link {
    color: $main-nav-selection;
  }
  
  &__item_active &__link:hover{
    cursor: default;
  }
  
  &__symbol {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -3px;
    fill: currentColor;
    
    &_home {
      width: 129px;
      height: 55px;
      margin-right: 0;
      margin-bottom: 0;
    }
    
    &_invest {
      height: 19px;
    }
    
    &_news {
      height: 16px;
      margin-bottom: -2px;
    }
    
    &_contacts {
      height: 18px;
      margin-bottom: -2px;
    }
    
    &_deposits {
      height: 21px;
    }
    
    &_withdraw {
      height: 21px;
    }
    
    &_operations {
      width: 14px;
      height: 19px;
    }
    
    &__payment-req {
      width: 24px;
      height: 15px;
    }
   
    &_refer {
      width: 22px;
    }
  }
  
  &_int &__symbol {
    margin-right: 14px;
    color: $site-nav-int-symbol;
  }
  
  &_int &__symbol_operations {
    margin-right: 17px;
  }
  
  &_int &__link:hover &__symbol {
    color: $nf-int;
  }

  &_int &__item_active &__symbol {
    color: $main-nav-selection;
  }
  
  &_int &__link:hover &__symbol {
    color: $nf-int;
  }
  
  &_int &__item_active &__link:hover &__symbol {
    color: $main-nav-selection;
  }
  
  
}

