.social-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  width: 97px;
  height: 101px;
  margin: 0;
  margin-top: 52px;
  padding: 0;
  font-size: 0;
  
  &__link {
    display: block;
    color: $footer-icons;
    
    &:hover {
      color: $nf-green;
    }
    
    &:nth-child(2n-1) {
      margin-right: 40px;
    }
    
    &:nth-child(4) {
      margin-top: 6px;
    }
  }
  
  .footer_int &__link:hover {
    color: $nf-int;
  }

  &__symbol {
    fill: currentColor;
  }
}

