.title {
  font-family: $robotocond;
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  @include text-shadow(3px, 3px, 3px, rgba(82,211,135,0.6));
}
