.upper-info {
  margin-left: 110px;
  width: 936px;
  margin-bottom: 100px;

  @media (min-width: $w1550) {
    margin-left: 18.35%;
  }

  @media (min-width: $hd) {
    margin-left: 325px;
  }

  .page-logo {
    float: left;
    margin: -6px 30px 36px 0;
    margin-bottom: 36px;
  }

  &__wrap {
    min-height: 132px;
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    padding-right: 35px;
    &--upper,
    &--short {
      width: 910px;
      height: auto;
      padding-left: 32px;
      padding-right: 0;
      margin-top: 6px;
    }
    &--short {
      margin-bottom: 0;
    }
    &--bottom {
      content: '';
      clear: both;
      display: block;
    }
  }
}
